.Navigation {
    height: 100%;
    width: 30%;
    border-radius: 16px;
    background-image: url("../../assets/img/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding: 1rem;
}