

.App {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 16vh 20vw 16vh 20vw;
    background-color: hsl(231, 100%, 99%);
    font-family: "Ubuntu", sans-serif;
}

.mainContainer {
    background-color: hsl(0, 0%, 100%);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: 0 0 1px #f0f0f0;
    padding: 1rem;

    display: flex;
}